.site-header {
  align-items: center;
  background-color: $ac-white;
  box-shadow: 0 0 0.25em $ac-box-shadow;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: relative;
  width: auto;
  z-index: map-get($zindex, header);

  > a {
    color: $ac-accent-color;
    font-size: pxToRem(16);
    text-decoration: none;
  }

  &__search {
    width: 250px;
  }
}
