.site-header {
  align-items: flex-start;
  background-color: $ac-white;
  box-shadow: 0 0 0.25em $ac-black-1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
  position: relative;
  width: auto;
  z-index: map-get($zindex, header);

  @include tablet {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  > a {
    color: $ac-blue;
    font-size: pxToRem(16);
    text-decoration: none;
  }

  &__search {
    width: 100%;

    @include tablet {
      width: 250px;
    }
  }
}
