.app-list {
  &__filters {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: pxToRem(16);
    margin-left: pxToRem(16);

    > .filter {
      width: 350px;
    }
  }

  &__tiles {
    display: flex;
    flex-flow: row wrap;

    > .ac-tile {
      margin: pxToRem(16);
    }
  }
}
