.app-list {
  &__filters {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: pxToRem(16);
    margin-left: 0;

    @include tablet {
      margin-left: pxToRem(16);
    }

    > .filter {
      width: 100%;

      @include tablet {
        width: 350px;
      }
    }
  }

  &__tiles {
    display: flex;
    flex-flow: row wrap;

    > .ac-tile {
      margin-bottom: pxToRem(16);

      @include tablet {
        margin: pxToRem(16);
      }
    }
  }
}
