.ac-tile {
  align-items: flex-start;
  background-color: $ac-tile-background;
  border-radius: pxToRem(16);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 200px;
  padding: 1.5rem 1rem;
  position: relative;
  width: 350px;
  word-break: break-word;

  &:hover {
    background-color: $ac-tile-background-hover;
  }

  &:hover .title {
    color: $ac-theme-accent;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: row;

    > img {
      display: block;
      height: auto;
      width: 50px;
    }

    > .title {
      font-size: 1.125rem;
      font-weight: 700;
      margin-left: pxToRem(16);
    }
  }

  &__details {
    color: $ac-grey-1;
    display: flex;
    flex-direction: column;
    font-size: pxToRem(14);
    line-height: pxToRem(20);

    > p {
      margin-bottom: pxToRem(8);
    }
  }

  &__chips {
    bottom: pxToRem(16);
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    position: absolute;
    width: 100%;

    .chip {
      border-radius: pxToRem(16);
      color: $ac-white;
      font-size: pxToRem(12);
      font-weight: bold;
      padding: pxToRem(8);

      &:nth-child(2) {
        margin-left: pxToRem(8);
      }

      &--available {
        background: $ac-green;
      }

      &--unavailable {
        background: $ac-coralle;
      }
    }
  }
}
