// Base color definitions
// black
$ac-black: #000;
$ac-copy: #2b3547;

// accent
$ac-accent-color: #007487;

// grey
$ac-grey: #eaeaec;
$ac-white: #fff;

// Box shadows
$ac-box-shadow: rgba(0, 0, 0, 0.15);
