// Base color definitions

// Note: Use `ac` prefix for color names which can clash with default colors.

// black shades
$ac-black: #000;
$ac-black-1: rgba(0, 0, 0, 0.15);
$ac-black-2: rgba(0, 0, 0, 0.05);
$ac-black-3: #2b3547;
$ac-black-4: rgba(37, 45, 61, 0.8);

// white/grey shades
$ac-white: #fff;
$ac-grey: #eaeaec;
$ac-grey-1: #f3f3f3;
$ac-grey-2: #fafafa;
$ac-grey-3: #737373;
$ac-grey-4: rgba(187, 199, 222, 0.8);

// blue shades
$ac-blue: #00437a;

// green shades
$ac-green: #54c6a0;

// red shades
$ac-red: #ea5e5d;
