// Base color definitions
// black
$ac-black: #000;
$ac-copy: #2b3547;

// accent
$ac-accent-color: #007487;

// grey
$ac-grey: #eaeaec;
$ac-white: #fff;

// Box shadows
$ac-box-shadow: rgba(0, 0, 0, 0.15);

// Tile colors
$titanium-white: #f3f3f3;
$ac-grey-0: $titanium-white;
$ac-tile-background: #fafafa;
$ac-tile-background-hover: $ac-grey-0;

$ac-blue: #1e3a63; // Primary
$ac-theme-accent: $ac-blue;
$graphite: #737373;
$ac-grey-1: $graphite;

$ac-green: #54c6a0;

$ac-coralle: #ea5e5d;
